<section id="portfolio" class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2>Eindrücke</h2>
        <hr class="small">
        <div class="row">
          <div class="col-md-6">
            <div class="portfolio-item">
              <div class="fix">
              <!--<a href="#">-->
                <img class="img-portfolio img-responsive" src="img/wohnesszimmer.jpg" alt="Wohn-Esszimmer">
                <div class="desc">
                  <p class="desc_content">Wohn-Esszimmer</p>
                </div>
              <!--</a>-->
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <div class="fix">
              <!--<a href="#">-->
                <img class="img-portfolio img-responsive" src="img/tageskinderzimmer2.jpg" alt="Tageskinderzimmer">
                <div class="desc">
                  <p class="desc_content">Tageskinderzimmer</p>
                </div>
              <!--</a>-->
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <div class="fix">
              <!--<a href="#">-->
                <img class="img-portfolio img-responsive" src="img/familie-potthast.jpg" alt="Familie Potthast">
                <div class="desc">
                  <p class="desc_content">Familie Potthast</p>
                </div>
              <!--</a>-->
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <div class="fix">
              <!--<a href="#">-->
                <img class="img-portfolio img-responsive" src="img/tiger.jpg" alt="Kater Tiger">
                <div class="desc">
                  <p class="desc_content">Kater Tiger</p>
                </div>
              <!--</a>-->
              </div>
            </div>
          </div>
        </div>
        <!-- /.row (nested) -->
        <!--<a href="#" class="btn btn-dark">View More Items</a>-->
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
