<section id="portfolio" class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <!--<h2>Eindrücke</h2>-->
        <!--<hr class="small">-->
        <div class="row">
          <div class="col-md-6">
            <div class="portfolio-item">
              <!--<a href="#">-->
                <img class="img-portfolio img-responsive" src="img/wohnesszimmer.webp" alt="Wohn-Esszimmer">
                <div class="wrapper">
                  <div class="caption post-content">
                    <h3>Wohn-Ess-Zimmer</h3>
                  </div>
                </div>
              <!--</a>-->
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <div class="fix">
              <!--<a href="#">-->
                <img class="img-portfolio img-responsive" src="img/tageskinderzimmer2.webp" alt="Tageskinderzimmer">
                <div class="wrapper">
                  <div class="caption post-content">
                    <h3>Tageskinderzimmer</h3>
                  </div>
                </div>
              <!--</a>-->
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <div class="fix">
              <!--<a href="#">-->
                <img class="img-portfolio img-responsive" src="img/familie-potthast.webp" alt="Familie Potthast">
                <div class="wrapper">
                  <div class="caption post-content">
                    <h3>Familie Potthast</h3>
                  </div>
                </div>
              <!--</a>-->
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <div class="fix">
              <!--<a href="#">-->
                <img class="img-portfolio img-responsive" src="img/tiger.webp" alt="Kater Tiger">
                <div class="wrapper">
                  <div class="caption post-content">
                    <h3>Kleiner Tiger</h3>
                  </div>
                </div>
              <!--</a>-->
              </div>
            </div>
          </div>
        </div>
        <!-- /.row (nested) -->
        <!--<a href="#" class="btn btn-dark">View More Items</a>-->
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
